#book {
  max-width: 90%;
  max-height: 90%;
}

#book-container {
  position: relative;
  opacity: 0;
  transform: translate(0, 0);
}

.loaded #book-container {
  transform: translate(0, 0);
  animation: fadeLeft both 1s;
}

.loaded.vertical #book-container {
  transform: translate(0, 0);
  animation: fadeDown both 1s;
}

img {
  position: absolute;
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, .2));
}

@keyframes fadeLeft {
  0%   {
    opacity: 0;
    transform: translate(-100px, 0)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeDown {
  0%   {
    opacity: 0;
    transform: translate(0, -30px)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}