$bgTile: '../imgs/texture_bg.jpg';
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #09518c url('#{$bgTile}') repeat;
  letter-spacing: 0.03em;
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  font-family: 'Copse', serif;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container {
  height: 80%;
  width: 80%;
}

.item {
  float: left;
  height: 100%;
  width: 50%;
  padding: 30px;
  position: relative;
}

#book-container {
  height: 100%;
}

.vert-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(0);
}

.footer {
  display: inline-block;
}

.publisher {
  float: left;
  margin-right: 10px;
  line-height: 28px; // to line up with like btns
}

.fb-like-btns {
  float: left;
}

.vertical {
  #book-container {
    height: 40%;
  }
  #info {
    height: 60%;
  }
  .item {
    width: 100%;
    padding: 15px;
  }
}