.title {
  line-height: 1.1;
  font-size: 4vw;
  color: #e2e8ef;
  margin-bottom: .5em;
}

.description {
  margin-top: 30px;
  margin-bottom: 40px;
}

.creators {
  margin-bottom: 5px;
}

.creators span {
  text-transform: uppercase;
  font-size: .8em;
  margin-right: 5px;
}

.small {
  font-size: .8em;
}

.title-l1 {
  font-size: 2vw;
  color: #7bc1a8;
}