/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.anim {
  opacity: 0; }

.loaded .anim {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: fadeUp both 1s;
          animation: fadeUp both 1s; }

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

canvas {
  z-index: 0;
  left: 0;
  top: 0;
  position: absolute; }

#book {
  max-width: 90%;
  max-height: 90%; }

#book-container {
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.loaded #book-container {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation: fadeLeft both 1s .25s;
          animation: fadeLeft both 1s .25s; }

.loaded.vertical #book-container {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation: fadeDown both 1s;
          animation: fadeDown both 1s; }

img {
  position: absolute;
  -webkit-filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2));
          filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.2)); }

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

button {
  width: 100%;
  padding: .5em;
  color: #fff;
  font-size: 1.7em;
  background-color: #1977bc;
  background-color: #4cb594;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: .2s;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px; }

button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2588d1;
  background-color: #55c09f;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  box-shadow: 0 5px 40px rgba(4, 53, 88, 0.5); }

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #09518c;
  letter-spacing: 0.03em;
  color: #fff;
  font-weight: normal;
  line-height: 1.5;
  font-family: 'Copse', serif;
  text-align: center; }

main {
  width: 100%;
  height: 100%;
  position: absolute; }

.flex-container {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-item {
  width: 50%;
  padding: 30px;
  position: relative; }

#book-container {
  height: 100%; }

.vert-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0); }

.footer {
  display: inline-block; }

.publisher {
  float: left;
  margin-right: 10px;
  line-height: 28px; }

.fb-like-btns {
  float: left; }

.vertical #book-container {
  height: 40%; }

.vertical #info {
  height: 60%; }

.vertical .flex-item {
  width: 100%;
  padding: 15px; }

.title {
  line-height: 1.1;
  font-size: 4vw;
  color: #e2e8ef;
  margin-bottom: .5em; }

.description {
  font-size: 1em;
  margin-bottom: 40px; }

.creators {
  font-size: 1em;
  margin-bottom: 30px; }
  .creatorsh2 {
    margin-bottom: 5px; }

.creators span {
  text-transform: uppercase;
  font-size: .8em;
  margin-right: 5px; }

.small {
  font-size: .8em; }

.title-l1 {
  font-size: 2vw;
  color: #7bc1a8; }

@media (max-width: 1000px) {
  .desktop-only {
    display: none; } }

@media (max-width: 700px) {
  .creators {
    font-size: .8em; }
    .creatorsspan {
      font-size: .7em; } }

.vertical .title {
  font-size: 8vw; }

.vertical .title-l1 {
  font-size: 4vw; }
